.container{
  margin: 20px;
}
.border-blue{
  border: solid 1px blue;
  text-align: left;
}
.border-red{
  border: solid 1px red;
  text-align: left;
}
.border-green{
  border: solid 1px green;
  text-align: left;
}
.space{
  padding: 20px;
}
.strikethrough{
  text-decoration: line-through;
}
.checked {
    text-decoration: line-through;
}
